# Ignore Daily Market Update Environment Folder
daily_mkt_update

# Ignore Python Version
.python-version

# Ignore DS Store
.DS_Store

# Ignore PyCache
src/__pycache__/*

# Ignore certain files
data/yhallsym.txt
src/market_data.py
